/*****************************************************************************/
/* Player: Style */
/*****************************************************************************/
.button-transparent{
    background: transparent;
    border: none !important;
    font-size: 0;
}

.player-container{
    background-color: #241b1d;
    color: #ffffff;
}

.player-container-artist{
    width:20%;
    text-align: left;
    float: left;
}

.player-container-artist span{
    display: inline-table;
}

.player-container-controls{
    width: 60%;
}

.player-container-controls input{
    display: inline-table;
    width: 60%;
}

.player-container-controls-previous{
    width: 30px;
    height: 30px;
    background-image: url('/assets/icons/previous.png');
    background-repeat: no-repeat;
}

.player-container-controls-pause{
    width: 50px;
    height: 50px;
    background-image: url('/assets/icons/pause.png');
    background-repeat: no-repeat;
}

.player-container-controls-next{
    width: 30px;
    height: 30px;
    background-image: url('/assets/icons/next.png');
    background-repeat: no-repeat;
}

.player-container-volume{
    width: 20%;
    display: inline-table;
}

.player-container-volume button{
    float: left;
}

.player-container-volume input{
    float: left;
    width: 80px;
}