<template name="Trending">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <input type="text" placeholder="Search Library"/>
          </div>
          <div class="col-md-6">
              <img src="/assets/artists/fran.png" alt="" class="image-circle"
                      width="80" height="80"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <img src="/assets/banner.png" width="900" alt=""/>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
          <div class="col-xs-4">
              <div class="thumbnail"><img src="/assets/artists/fran.png" alt=""/></div>
          </div>
      </div>
  </div>
</template>
