<template name="SideMenu">
   <div class="sidebar-container">
       <div class="jumbotron logo-container">
           <img src="/assets/logo.png" alt=""/>
       </div>
       <ul class="list-group">
           <li>
               <img src="/assets/icons/top_songs_icon.png" alt="Top Songs"/>
               <span>Top Songs</span>
           </li>
           <li>
               <img src="/assets/icons/most_heard_icon.png" alt="Most Heard"/>
               <span>Most Heard</span>
           </li>
           <li>
               <img src="/assets/icons/song_of_the_day_icon.png" alt="Song of the Day"/>
               <span>Song of the Day</span>
           </li>
           <li>
               <img src="/assets/icons/surprise_me_icon.png" alt="Surprise me"/>
               <span>Suprise Me</span>
           </li>
           <hr>
           <li>
               <img src="/assets/icons/artist_icon.png" alt="Artist"/>
               <span>Taylor Swift</span>
           </li>
           <li>
               <img src="/assets/icons/artist_icon.png" alt="Artist"/>
               <span>Akon</span>
           </li>
           <hr>
           <li>
               <img src="/assets/icons/radio_icon.png" alt="Artist"/>
               <span>Radio</span>
           </li>
           <li>
               <img src="/assets/icons/friends_icon.png" alt="Artist"/>
               <span>Friends</span>
           </li>
       </ul>
   </div>
</template>
