<template name="Playlist">
    <div class="playlist-container">
        <div class="jumbotron playlist-header">
            <img src="/assets/icons/playlist_icon.png" alt=""/>
            <span>playlist</span>
        </div>
        <ul class="list-group playlist-list">
            <li class="list-group-item list-group">
                <img src="/assets/artists/fran.png" width="80" height="80"
                     alt="" class="image-circle"/>
                <span>Dare La La</span>
                <span>Shakira</span>

            </li>
        </ul>
        <div class="playlist-app-promo jumbotron">
            <span>asdfas</span>
        </div>
    </div>
</template>
